body, html {
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: 'Arial', sans-serif; background-color: #000;
    color: #fff; height: 100%; overflow: hidden;
}
.blog-container {
    max-width: 1200px; margin: 20px auto; padding: 10px;
    background-color: #333; color: #fff; cursor: pointer;
    text-align: center;
}
.modal, .audio-modal {
    display: none; position: fixed; z-index: 2;
    left: 0; top: 0; width: 100%; height: 100%;
    overflow: auto; background-color: rgba(0, 0, 0, 0.8);
}
.modal-content, .audio-modal-content {
    background-color: #222; margin: 10% auto; padding: 20px;
    border: 1px solid #880000; width: 50%; position: relative;
}
.close, .audio-close {
    color: #aaa; float: right; font-size: 28px;
    font-weight: bold; cursor: pointer;
}
.close:hover, .audio-close:hover { color: #cc0000; }
.audio-details {
    display: flex; align-items: center; justify-content: space-around;
}
.audio-thumbnail {
    width: 100px; height: 100px; border-radius: 50%;
    margin-right: 20px; object-fit: cover;
}
.audio-info h3, .audio-info p {
    margin: 0; padding: 0; color: #ccc;
}
#audioModal {
    padding-top: 10%;
}
